
<div class="container mt-5">
  <h1 class="display-1 text-white"><strong> Bienvenido a la Biblioteca</h1>
  <p class="text-white">Esta es la página principal de la aplicación CRUD de la biblioteca.</strong></p>

  <div class="mt-4">
      <a href="/books" class="btn btn-secondary btn-lg">
          <i class="fas fa-book"></i> Ver Libros
      </a>
  </div>
</div>

